.gifGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .gifGrid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
